<div class='offers'>
  <% @offers.try(:each) do |offer| %>
    <div class='offer'>
      <div class='title'><%= offer.title %></div>
      <div class='payout'><%= offer.payout %></div>
      <div class='thumbnail'><%= image_tag offer.thumbnail %></div>
    </div>
  <% end %>
</div>
